$color-white: #fff;
$color-light-grey: #e5e5e5;
$color-med-grey: #9e9e9e;
$color-dark-grey: #424242;
$color-black: #000;
$color-blue: #0091ea;

$ff-primary: "Roboto", sans-serif;
$ff-alt: "Assistant", sans-serif;