$color-white: #fff;
$color-light-grey: #eeeeee;
$color-med-grey: #bdbdbd;
$color-dark-grey: #424242;
$color-black: #000;
$color-blue: #00E676;

$ff-primary: "Roboto", sans-serif;
$ff-alt: "Assistant", sans-serif;