.list-items {
  padding-bottom: 48px;
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  .section-title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: $color-blue;
  }
  .amount {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: $color-med-grey;
  }
}
.new-item {
  position: fixed;
  width: 100%;
  height: 142px;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: $color-white;
  display: flex;
  align-items: center;
  border-top: 1px solid $color-light-grey;

  .has-margin {
    margin-bottom: 20px;
  }
}
.button {
  display: block;
  width: 100%;
  font-family: $ff-primary;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  user-select: none;
  background: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 12px 32px;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;

  &:focus {
    outline: 0;
  }

  &.button-primary {
    color: $color-white;
    background: $color-dark-grey;
    border: 2px solid $color-dark-grey;

    &:hover,
    &:active {
      background: darken($color-dark-grey, 5%);
      border: 2px solid darken($color-dark-grey, 5%);
    }
  }
  &.button-secondary {
    color: $color-dark-grey;
    background: $color-white;
    border: 2px solid $color-dark-grey;

    &:hover,
    &:active {
      color: darken($color-dark-grey, 5%);
      border: 2px solid darken($color-dark-grey, 5%);
    }
  }
}
.form-control {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-family: $ff-primary;
  font-size: 16px;
  font-weight: 500;
  color: $color-dark-grey;
  border-radius: 32px;
  border: 2px solid $color-light-grey;
  transition: all 0.15s ease-in-out;

  &:focus {
    outline: 0;
    border-color: $color-dark-grey;
  }
}