.checklist-item {
  display: flex;
  align-items: center;
  padding: 14px 16px;
  border-radius: 24px;
  margin: 12px 0;
  background: $color-light-grey;

  &:hover {
    cursor: pointer;
  }
  .check {
    display: block;
    width: 20px;
    height: 20px;
    background: $color-med-grey;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
  }
  .item-title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 14px;
    line-height: 1em;
    transition: all 0.15s ease-in-out;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 0%;
      height: 1px;
      background: $color-dark-grey;
      transition: all 0.15s ease-in-out;
    }
  }
  &.is-active {

    .check {
      background: $color-blue;
    }
    .item-title {
      opacity: 0.5;

      &:after {
        width: 100%;
      }
    }
  }
  .trash {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/trash.svg') no-repeat center center;
    background-size: 16px;
    font-size: 0;
    text-decoration: none !important;
  }
}