@each $direction in (center, left, right) {

  .text-#{$direction} {
    text-align: $direction;
  }
}
@for $num from 1 through 4 {

  .flex-#{$num} {
    flex: $num;
  }
}
.mb-high {
  margin-bottom: 48px;

  @include media-breakpoint-up(md) {
    margin-bottom: 96px;
  }
}
.mb-high-md {
  margin-bottom: 48px;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}